{% extends "layout.html" %}

{% block title %}
    test
{% endblock %}

{% block main %}

<div class="container">
  <hr class="my-5">

  <div class="row justify-content-center">

    <div class="col" style="border: 1px solid white">
      Column col 1
    </div>

    <div class="col" style="border: 1px solid white">
      Column col 2
    </div>

    <div class="col" style="border: 1px solid white">
      Column col 3
    </div>

  </div>

  <hr>

  <div class="row">

    <div class="col-md" style="border: 1px solid white">
      Column col-md 1
    </div>

    <div class="col-md" style="border: 1px solid white">
      Column col-md 2
    </div>

    <div class="col-md" style="border: 1px solid white">
      Column col-md 3
    </div>

  </div>

  <div class="row">

    <div class="col-lg" style="border: 1px solid white">
      Column col-lg 1
    </div>

    <div class="col-lg" style="border: 1px solid white">
      Column col-lg 2
    </div>

    <div class="col-lg" style="border: 1px solid white">
      Column col-lg 3
    </div>

  </div>
</div>


{% block styles %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.min.css" integrity="sha512-cyzxRvewl+FOKTtpBzYjW6x6IAYUCZy3sGP40hn+DQkqeluGRCax7qztK2ImL64SA+C7kVWdLI6wvdlStawhyw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}

{% block scripts %}
<script src="{{ url_for('.static', filename='test.js') }}" async></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.min.js" integrity="sha512-6lplKUSl86rUVprDIjiW8DuOniNX8UDoRATqZSds/7t6zCQZfaCe3e5zcGaQwxa8Kpn5RTM9Fvl3X2lLV4grPQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}

{% endblock %}








